@import 'tailwindcss';

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-overflow-scrolling: touch;
}

.serif {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.list-circle {
    list-style-type: circle;
}

.glass {
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.1);
}


.btn-animate {
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.btn-animate:hover {
    background-color: rgba(255, 255, 255, 1);
    color:black;
}

.black-glass {
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.08);
}


/*// adds a white overlay that fades into transparent*/
.fade-to-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*  from middle to bottom, transparent to white */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
}



.flame {
    animation: flicker 2.4s infinite ease-in-out alternate;
}

button:hover .flame {
    animation: wiggle 0.5s infinite;
}


@keyframes flicker {
    0%   { transform: translateY(0) rotate(0deg) scale(1); }
    30%  { transform: translateY(-1px) rotate(-2deg) scale(1.03); }
    60%  { transform: translateY(1px) rotate(2deg) scale(0.97); }
    100% { transform: translateY(-1px) rotate(-1deg) scale(1.02); }
}

@keyframes wiggle {
    0%, 100%   { transform: translateY(0) rotate(0deg) scale(1.5); }
    30%  { transform: translateY(-1px) rotate(-2deg) scale(1.53); }
    60%  { transform: translateY(1px) rotate(2deg) scale(1.37); }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: auto;
    overflow: auto;
    max-height: 100vh;
    transform: translate(-50%, 1000%);

    animation: slideIn 0.5s ease-in-out forwards;

    background:rgba(0,0,0,0.65);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 12px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, -200%);
        opacity: 0;
    }
    10% {
        opacity: 1;

    }
    30% {
        transform: translate(-50%, -20%);

    }
    100% {
        transform: translate(-50%, -50%);
    }
}



.carta-toolbar .carta-toolbar-left {
    display:none !important;
}

.carta-toolbar .carta-filler {
    display:none !important;
}

.carta-editor {
    height:100% !important;
}

.carta-wrapper .carta-container {
    height:100% !important;
}

.carta-wrapper .carta-container .carta-input {
    padding-bottom:0 !important;
    height:100%;
}

.carta-editor,
.carta-wrapper,
.carta-container {
    min-width: 0 !important;
    max-width: 100% !important;
    overflow: hidden;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}